@mixin text($fontSize, $lineHeight: 1.6, $textAlign: left) {
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: 0.06em;
  text-align: $textAlign;
}

@mixin textIcon($fontSize) {
  font-size: $fontSize;
  display: inline-block;
  padding: 6px 12px;
  background-color: var(--color-gray);
  border-radius: 4px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-align: center;
}
