@use '../mixin';

:root {
  --font-family-ja: 'Noto Sans JP';
  --font-family-en: 'Josefin Sans';
  --color-white: #fff;
  --color-black: #222;
  --color-gray: #f0f0f0;
  --color-light-blue: #f4f8fa;
  --color-blue: #344c79;
  --section-margin: 100px;
  --border-radius: 12px;
  --container-width: 960px;
  --container-padding: 15px;
  --transition-config: 0.4s ease-out;
  @include mixin.mq('tab') {
    --section-margin: 130px;
    --container-padding: 70px;
  }
  @include mixin.mq('pc') {
    --section-margin: 160px;
    --container-padding: 0px;
  }
}
