@use '../mixin';

// -------------------- works_wrapper --------------------
.works_wrapper {
  margin-top: 30px;
  @include mixin.mq('tab') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  @include mixin.mq('pc') {
    gap: 60px;
  }
}
.works_wrapper__each {
  border-radius: 4px;
  overflow: hidden;
  &:not(:first-of-type) {
    margin-top: 40px;
    @include mixin.mq('tab') {
      margin-top: 0;
    }
  }
  &:hover {
    .works_wrapper__name {
      @media (hover: hover) and (pointer: fine) {
        text-decoration: underline;
      }
    }
    .works_wrapper__thumbnail img {
      @media (hover: hover) and (pointer: fine) {
        transform: scale(1.04);
      }
    }
  }
}
.works_wrapper__link {
  display: grid;
  justify-items: start;
}
.works_wrapper__thumbnail {
  width: 100%;
  overflow: hidden;
}
.works_wrapper__thumbnail img {
  transition: transform var(--transition-config);
}
.works_wrapper__body {
  margin-top: 20px;
}
.works_wrapper__category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
}
.works_wrapper__category_each {
  font-family: var(--font-family-en), sans-serif;
  @include mixin.textIcon(14px);
}
