@use '../../mixin';

// -------------------- ABOUT --------------------
.about {
  margin-top: var(--section-margin);
}
.about__container {
  padding: 0 var(--container-padding);
  @include mixin.mq('pc') {
    max-width: var(--container-width);
    margin: 0 auto;
  }
}
.about__heading {
  flex-direction: column;
}
.about__heading span {
  &:last-of-type {
    margin: 2px 0 0;
  }
}
.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.profile_wrapper__visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.profile_wrapper__name {
  margin-top: 10px;
  font-weight: 700;
  @include mixin.text(20px, 1.6, center);
}
.profile_wrapper__lead {
  margin-top: 20px;
  @include mixin.text(16px);
  @include mixin.mq('pc') {
    width: 700px;
  }
}
